NODE_ENV=production
MONGO_URL=mongodb+srv://USER:PASSWORD@HOST/?retryWrites=true&w=majority&appName=LogService
MONGO_DB=corpoturismo_db_logs
INGEST_API_KEY=replace_with_long_random_key
READ_API_KEY=replace_with_another_long_random_key
CORS_ORIGIN=*
