# App
NODE_ENV=development
PORT=

# Mongo
MONGO_URL=mongodb://localhost:27017
MONGO_DB=db_name_on_mongo

# Retención (TTL) - días
LOG_RETENTION_DAYS=30
MAIL_RETENTION_DAYS=90

# Seguridad
INGEST_API_KEY=change_me_ingest
READ_API_KEY=change_me_read

# CORS (para UI de admin si aplica)
CORS_ORIGIN=*
